In [2]:
import pandas as pd
#Os valores podem ser expressos como uma lista de tuplas onde cada tupla corresponderá a uma Row de nosso dataframe
valor = [("Joao","Silva",23,"M",1),("Pedro","Matos",12,"G",1),("Ricardo","Pereira",30,"GG",2),("Schopenhauer","Souza",30,"M",1)]
print(type(valor))

#As colunas podem ser expressas como uma lista de strings
colunas = ['nome', 'sobrenome','idade','tamanho_camiseta', 'codigo_modelo_camiseta']
print(type(colunas))

#Com estas duas estruturas em mãos podemos usar o método Dataframe do pandas é criarmos um DataFrame pandas a partir deles
df_test = pd.DataFrame(valor, columns=colunas)

df_test

<class 'list'>
<class 'list'>

           nome sobrenome  idade tamanho_camiseta  codigo_modelo_camiseta
0          Joao     Silva     23                M                       1
1         Pedro     Matos     12                G                       1
2       Ricardo   Pereira     30               GG                       2
3  Schopenhauer     Souza     30                M                       1

                  nome
tamanho_camiseta
G                    1
GG                   1
M                    2