In [1]:
import matplotlib.pyplot as plt
import numpy as np

In [2]:
media_controle = 60
desvp_controle = 10
quantidade_controle = 30

controle = np.random.normal(media_controle,desvp_controle,quantidade_controle)
display(controle.round(1))

array([43.7, 48.8, 58. , 95.8, 71.6, 52.9, 54.5, 54.4, 57.7, 44.5, 57.9,
       73.4, 77. , 45.8, 71.8, 55.7, 55.5, 43.1, 53. , 82.5, 51.5, 66.3,
       64.8, 54.7, 64.5, 70.8, 46.9, 44.8, 59.9, 51.1])

In [3]:
# Calculando valores
print("Média: ", np.mean(controle).round(1))

#find standard deviation of sample
print("Desvio padrão: ", np.std(controle, ddof=1).round(1))

Média:  59.1
Desvio padrão:  12.6

In [ ]:
plt.figure(figsize=(8,6))
plt.hist(controle,bins=None, alpha=0.5, label="data1")
plt.plot()

[]

In [ ]:
import matplotlib.pyplot as plt
count, bins, ignored = plt.hist(controle, 30)
plt.show()

In [3]:
np.random.seed(42)
n = 5000
mean_mu1 = 60
sd_sigma1 = 15
data1 = np.random.normal(mean_mu1, sd_sigma1, n)
mean_mu2 = 80
sd_sigma2 = 15
data2 = np.random.normal(mean_mu2, sd_sigma2, n)

In [ ]:
plt.figure(figsize=(8,6))
plt.hist(data1, bins=100, alpha=0.5, label="data1")
plt.hist(data2, bins=100, alpha=0.5, label="data2")

plt.xlabel("Data", size=14)
plt.ylabel("Count", size=14)
plt.title("Multiple Histograms with Matplotlib")
plt.legend(loc='upper right')

plt.plot()

[]

No handles with labels found to put in legend.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
penguins_data="https://raw.githubusercontent.com/datavizpyr/data/master/palmer_penguin_species.tsv"

In [3]:
penguins_df = pd.read_csv(penguins_data, sep="\t")
penguins_df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [ ]:
plt.figure(figsize=(8,6))
sns.histplot(x= "body_mass_g",
             data=penguins_df,
             bins=25)