In [38]:
CONST_MAX = 500
MATERIA_MAX = 288
TURNO_MAX = 4
SEMESTRE_MAX = 2
ANO_MIN = 2000
ANO_MAX = 2021
CEP_MAX = 733
GRADUACOES_MAX=4*6

# DOMINIOS

In [19]:
# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR STATUS_ALUNO
with open("INSERTS_FACULDADE_DOMINIOS/STATUS_ALUNO.sql", "w", encoding="utf-8") as f:
    # CREATE INSERT INTO STATUS_ALUNO
    ID_STATUS_LIST = [1,2,3,4]
    DESCRICAO_STATUS_LIST = ["Cursando", "Trancado", "Formado", "Jubilado"]
    for i in range(len(ID_STATUS_LIST)):
        ID_STATUS = ID_STATUS_LIST[i]
        DESCRICAO_STATUS = DESCRICAO_STATUS_LIST[i]
        sql = f'INSERT INTO STATUS_ALUNO (ID_STATUS, DESCRICAO_STATUS) VALUES ({ID_STATUS}, "{DESCRICAO_STATUS}")'
        f.write(sql + ";" + "\n")

In [20]:
# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR STATUS_FUNCIONARIO
with open("INSERTS_FACULDADE_DOMINIOS/STATUS_FUNCIONARIO.sql", "w", encoding="utf-8") as f:
    ID_STATUS_LIST = [1,2,3,4]
    DESCRICAO_STATUS_LIST = ["Ativo", "Desligado", "Férias", "Afastado"]
    for i in range(len(ID_STATUS_LIST)):
        ID_STATUS = ID_STATUS_LIST[i]
        DESCRICAO_STATUS = DESCRICAO_STATUS_LIST[i]
        sql = f'INSERT INTO STATUS_FUNCIONARIO (ID_STATUS, DESCRICAO_STATUS) VALUES ({ID_STATUS}, "{DESCRICAO_STATUS}")'
        f.write(sql + ";" + "\n")

In [21]:
# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR TITULACAO
with open("INSERTS_FACULDADE_DOMINIOS/TITULACAO.sql", "w", encoding="utf-8") as f:
    ID_TITULACAO_LIST = [1, 2, 3, 4]
    DESCRICAO_TITULACAO_LIST = ["Graduado", "Especialista", "Mestre", "Doutor"]
    for i in range(len(ID_TITULACAO_LIST)):
        ID_TITULACAO = ID_TITULACAO_LIST[i]
        DESCRICAO_TITULACAO = DESCRICAO_TITULACAO_LIST[i]
        sql = f'INSERT INTO TITULACAO (ID_TITULACAO, DESCRICAO_TITULACAO) VALUES ({ID_TITULACAO}, "{DESCRICAO_TITULACAO}")'
        f.write(sql + ";" + "\n")

In [22]:
# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR SETOR
with open("INSERTS_FACULDADE_DOMINIOS/SETOR.sql", "w", encoding="utf-8") as f:
    ID_SETOR_LIST = [1, 2, 3, 4]
    DESCRICAO_SETOR_LIST = ["Secretariado", "Coordenação", "Biblioteca", "Facilities"]
    for i in range(len(ID_SETOR_LIST)):
        ID_SETOR = ID_SETOR_LIST[i]
        DESCRICAO_SETOR = DESCRICAO_SETOR_LIST[i]
        sql = f'INSERT INTO SETOR (ID_SETOR, DESCRICAO_SETOR) VALUES ({ID_SETOR}, "{DESCRICAO_SETOR}")'
        f.write(sql + ";" + "\n")

In [23]:
# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR TURNO
with open("INSERTS_FACULDADE_DOMINIOS/TURNO.sql", "w", encoding="utf-8") as f:
    ID_TURNO_LIST = [1, 2, 3, 4]
    DESCRICAO_TURNO_LIST = ["Matutino", "Vespertino", "Noturno", "Integral"]
    for i in range(len(ID_TURNO_LIST)):
        ID_TURNO = ID_TURNO_LIST[i]
        DESCRICAO_TURNO = DESCRICAO_TURNO_LIST[i]
        sql = f'INSERT INTO TURNO (ID_TURNO, DESCRICAO_TURNO) VALUES ({ID_TURNO}, "{DESCRICAO_TURNO}")'
        f.write(sql + ";" + "\n")

In [24]:
# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR TIPO_AVALIACAO
with open("INSERTS_FACULDADE_DOMINIOS/TIPO_AVALIACAO.sql", "w", encoding="utf-8") as f:
    ID_TIPO_AVALIACAO_LIST = [1, 2, 3, 4, 5]
    DESCRICAO_TIPO_AVALIACAO_LIST = ["Prova 1", "Prova 2", "Prova 3", "Prova de Recuperação", "Prova de Final"]
    for i in range(len(ID_TIPO_AVALIACAO_LIST)):
        ID_TIPO_AVALIACAO = ID_TIPO_AVALIACAO_LIST[i]
        DESCRICAO_TIPO_AVALIACAO = DESCRICAO_TIPO_AVALIACAO_LIST[i]
        sql = f'INSERT INTO TIPO_AVALIACAO (ID_TIPO_AVALIACAO, DESCRICAO_TIPO_AVALIACAO) VALUES ({ID_TIPO_AVALIACAO}, "{DESCRICAO_TIPO_AVALIACAO}")'
        f.write(sql + ";" + "\n")

# GERADORES DE MASSA DE DADOS

## GERADOR MATERIAS

In [25]:
# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR DEPARTAMENTO
with open("INSERTS_FACULDADE_DOMINIOS/DEPARTAMENTO.sql", "w", encoding="utf-8") as f:
    ID_DEPARTAMENTO_LIST = [1, 2, 3, 4, 5, 6]
    DESCRICAO_DEPARTAMENTO_LIST = ["DADOS", "EXATAS", "BIOLOGICAS", "HUMANAS E SOCIAIS", "ARTES", "LINGUAS"]
    for i in range(len(ID_DEPARTAMENTO_LIST)):
        ID_DEPARTAMENTO = ID_DEPARTAMENTO_LIST[i]
        DESCRICAO_DEPARTAMENTO = DESCRICAO_DEPARTAMENTO_LIST[i]
        sql = f'INSERT INTO DEPARTAMENTO (ID_DEPARTAMENTO, DESCRICAO_DEPARTAMENTO) VALUES ({ID_DEPARTAMENTO}, "{DESCRICAO_DEPARTAMENTO}")'
        f.write(sql + ";" + "\n")

# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR CURSO.
# CURSO IS ASSOCIATED WITH DEPARTAMENTO
DESCRICAO_CURSO_GRADUACAO_LIST = ["Engenharia de Dados", "Ciência de Dados", "Análise de Dados", "Engenharias de Machine Learning",
                                "Estatística", "Matemática", "Física", "Química",
                                "Biologia", "Medicina", "Enfermagem", "Fisioterapia",
                                "Filosofia", "Administração", "Sociologia", "Pedagogia",
                                "Artes Cênicas", "Música", "Turismo", "Artes Visuais",
                                "Português", "Linguas Estrangeiras", "Linguas Clássicas", "Filologia"]

ID_CURSO_GRADUACAO = 0
with open("INSERTS_FACULDADE_DOMINIOS/CURSO_GRADUACAO.sql", "w", encoding="utf-8") as f:
    for i in range(len(ID_DEPARTAMENTO_LIST)):
        for j in range(4):
            ID_DEPARTAMENTO = ID_DEPARTAMENTO_LIST[i]
            DESCRICAO_CURSO_GRADUACAO = DESCRICAO_CURSO_GRADUACAO_LIST[ID_CURSO_GRADUACAO]
            ID_CURSO_GRADUACAO += 1
            sql = f'INSERT INTO CURSO_GRADUACAO (ID_CURSO_GRADUACAO, ID_DEPARTAMENTO, DESCRICAO_CURSO_GRADUACAO) VALUES ({ID_CURSO_GRADUACAO}, {ID_DEPARTAMENTO}, "{DESCRICAO_CURSO_GRADUACAO}")'
            f.write(sql + ";" + "\n")

# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR DISCIPLINA.
# CURSO IS ASSOCIATED WITH CURSO
import random
n_disciplinas = 12
CARGA_HORARIA_DISCIPLINA_RND_LIST = [30, 60, 90, 120]
PRETEXTUAL_DISCIPLINA_RND_LIST = ["Introdução a", "Tópicos em", "Conceitos de", "Projeto de"]
POSTEXTUAL_DISCIPLINA_RND_LIST = ["Prática", "Teórica", "Avançada", "Básica"]

ID_DISCIPLINA = 0
with open("INSERTS_FACULDADE_DOMINIOS/DISCIPLINA.sql", "w", encoding="utf-8") as f:
    for i in range(len(DESCRICAO_CURSO_GRADUACAO_LIST)):
        ID_CURSO_GRADUACAO = i + 1
        dict_disciplinas = {}
        for j in range(n_disciplinas):
            ID_DISCIPLINA += 1
            CARGA_HORARIA_DISCIPLINA = random.choice(CARGA_HORARIA_DISCIPLINA_RND_LIST)
            PRETEXTUAL_DISCIPLINA = random.choice(PRETEXTUAL_DISCIPLINA_RND_LIST)
            POSTEXTUAL_DISCIPLINA = random.choice(POSTEXTUAL_DISCIPLINA_RND_LIST)
            DESCRICAO_DISCIPLINA = f"{PRETEXTUAL_DISCIPLINA} {DESCRICAO_CURSO_GRADUACAO_LIST[i]} {POSTEXTUAL_DISCIPLINA}"
            if DESCRICAO_DISCIPLINA not in dict_disciplinas:
                dict_disciplinas[DESCRICAO_DISCIPLINA] = 1
            else:
                aparicoes = dict_disciplinas[DESCRICAO_DISCIPLINA]
                aparicoes += 1
                DESCRICAO_DISCIPLINA = DESCRICAO_DISCIPLINA + " " + str(aparicoes)
                dict_disciplinas[DESCRICAO_DISCIPLINA] = aparicoes
            sql = f'INSERT INTO DISCIPLINA (ID_DISCIPLINA, DESCRICAO_DISCIPLINA, CARGA_HORARIA_DISCIPLINA, ID_CURSO_GRADUACAO) VALUES ({ID_DISCIPLINA}, "{DESCRICAO_DISCIPLINA}", {CARGA_HORARIA_DISCIPLINA},  {ID_CURSO_GRADUACAO})'
            f.write(sql + ";"+ "\n")

## GERADOR DE ENDERECOS

In [26]:
# Read ceps.sql file as utf-8
# keep only the first 3 columns
# break second column on "/"
# keep one in one hundred
keep_one_in = 1000
with open("INSERTS_FACULDADE_DOMINIOS/CEPS.txt", "w", encoding="utf-8") as f:
    with open("ceps.txt", "r", encoding="utf-8") as ceps:
        for i,line in enumerate(ceps):
            if i % keep_one_in == 0:
                line = line.split("\t")
                # line = line[0:3]
                cep = line[0].strip()[0:5] + '-' + line[0].strip()[0:3]
                city_state = line[1].split("/")
                cidade = city_state[0].strip()[:40]
                estado = city_state[1].strip()[0:2][:40]
                bairro = line[2].strip()[:40]
                if bairro == "":
                    bairro = "Sem Bairro"
                logradouro = line[3].strip()[:40]
                if logradouro == "":
                    logradouro = "Sem Logradouro"
                line = cep +";"+ cidade +";"+ estado +";"+ bairro
                line = line +";"+ logradouro
                # line = line +";"+ str(random.choice(ID_TIPO_LOGRADOURO_LIST)) +";"+ logradouro
                f.write(line + "\n")

In [27]:
# Read "INSERTS_FACULDADE_DOMINIOS/CEPS.txt" file as utf-8
# Create a list with all unique ESTADO, CIDADE, BAIRRO, LOGRADOURO
with open("INSERTS_FACULDADE_DOMINIOS/CEPS.txt", "r", encoding="utf-8") as f:
    cidade_list = []
    bairro_list = []
    estado_list = []
    logradouro_list = []
    for i,line in enumerate(f):
        line = line.split(";")
        cidade_list.append(line[1].strip())
        estado_list.append(line[2].strip())
        bairro_list.append(line[3].strip())
        logradouro_list.append(line[4].strip())
cidade_list = list(set(cidade_list))
bairro_list = list(set(bairro_list))
estado_list = list(set(estado_list))
logradouro_list = list(set(logradouro_list))
cidade_list.sort()
bairro_list.sort()
estado_list.sort()
logradouro_list.sort()

# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR ESTADO
with open("INSERTS_FACULDADE_DOMINIOS/ESTADO.sql", "w", encoding="utf-8") as f:
    for i in range(len(estado_list)):
        DESCRICAO_ESTADO = estado_list[i]
        sql = f'INSERT INTO ESTADO (ID_ESTADO, DESCRICAO_ESTADO) VALUES ({i+1}, "{DESCRICAO_ESTADO}")'
        f.write(sql + ";"+ "\n")

# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR CIDADE
with open("INSERTS_FACULDADE_DOMINIOS/CIDADE.sql", "w", encoding="utf-8") as f:
    for i in range(len(cidade_list)):
        DESCRICAO_CIDADE = cidade_list[i]
        sql = f'INSERT INTO CIDADE (ID_CIDADE, DESCRICAO_CIDADE) VALUES ({i+1}, "{DESCRICAO_CIDADE}")'
        f.write(sql + ";"+ "\n")

# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR BAIRRO
with open("INSERTS_FACULDADE_DOMINIOS/BAIRRO.sql", "w", encoding="utf-8") as f:
    for i in range(len(bairro_list)):
        DESCRICAO_BAIRRO = bairro_list[i]
        sql = f'INSERT INTO BAIRRO (ID_BAIRRO, DESCRICAO_BAIRRO) VALUES ({i+1}, "{DESCRICAO_BAIRRO}")'
        f.write(sql + ";"+ "\n")

# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR LOGRADOURO
with open("INSERTS_FACULDADE_DOMINIOS/LOGRADOURO.sql", "w", encoding="utf-8") as f:
    for i in range(len(logradouro_list)):
        DESCRICAO_LOGRADOURO = logradouro_list[i]
        sql = f'INSERT INTO LOGRADOURO (ID_LOGRADOURO, DESCRICAO_LOGRADOURO) VALUES ({i+1}, "{DESCRICAO_LOGRADOURO}")'
        f.write(sql + ";"+ "\n")

cep_list = []
# Read "INSERTS_FACULDADE_DOMINIOS/CEPS.txt" file as utf-8
with open("INSERTS_FACULDADE_DOMINIOS/CEPS.txt", "r", encoding="utf-8") as f:
    with open("INSERTS_FACULDADE_DOMINIOS/CEP.sql", "w", encoding="utf-8") as f_cep:
        for line in f:
            line = line.split(";")
            cep = line[0].strip()
            cep_list.append(cep)
            cidade = line[1].strip()
            estado = line[2].strip()
            bairro = line[3].strip()
            logradouro = line[4].strip()
            ID_CIDADE = cidade_list.index(cidade) + 1
            ID_BAIRRO = bairro_list.index(bairro) + 1
            ID_ESTADO = estado_list.index(estado) + 1
            ID_LOGRADOURO = logradouro_list.index(logradouro) + 1
            sql = f'INSERT INTO CEP (CEP, ID_CIDADE, ID_BAIRRO, ID_ESTADO, ID_LOGRADOURO) VALUES ({cep}, {ID_CIDADE}, {ID_BAIRRO}, {ID_ESTADO}, {ID_LOGRADOURO})'
            f_cep.write(sql + ";"+ "\n")

In [28]:
# cep_list = []
# with open('INSERTS_FACULDADE_DOMINIOS/CEPS.txt', 'r', encoding="utf-8") as f:
#     for line in f:
#         line = line.split(";")
#         cep = line[0].strip()
#         cep_list.append(cep)

In [29]:
# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR ENDERECO
def get_random_cep():
    return random.choice(cep_list)

n_enderecos = 1500
with open("INSERTS_FACULDADE_DOMINIOS/ENDERECO.sql", "w", encoding="utf-8") as f:
    for i in range(n_enderecos):
        ID_ENDERECO = i+1
        NUMERO_ENDERECO = random.randint(1, 300)
        COMPLEMENTO_ENDERECO = f'Apartamento {random.randint(1, 3000)}'
        CEP = get_random_cep()
        sql = f'INSERT INTO ENDERECO (ID_ENDERECO, NUMERO_ENDERECO, COMPLEMENTO_ENDERECO, CEP) VALUES ({ID_ENDERECO}, {NUMERO_ENDERECO}, "{COMPLEMENTO_ENDERECO}", {CEP})'
        f.write(sql + ";"+ "\n")

## GERADOR DE PESSOAS

In [30]:
import random

def random_date(inicio, fim):
    year = random.randint(inicio, fim)
    month = random.randint(1, 12)
    day = random.randint(1, 28)
    return f"{year:02d}-{month:02d}-{day:02d}"

In [31]:
# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR PESSOA
n_pessoas = 1500

def create_email(nome_completo):
    nome_completo = nome_completo.split(" ")
    email = nome_completo[0] + "." + nome_completo[1] + "@contratados.com"
    return email

with open("INSERTS_FACULDADE_DOMINIOS/nomes.txt", "r", encoding="utf-8") as f:
    nome_list = []
    for line in f:
        nome_list.append(line.strip())

with open("INSERTS_FACULDADE_DOMINIOS/sobrenomes.txt", "r", encoding="utf-8") as f:
    sobrenome_list = []
    for line in f:
        sobrenome_list.append(line.strip())

cpsf_list = random.sample(range(1, 89999999999), n_pessoas)
cpsf_list = [cpf+10000000000 for cpf in cpsf_list]

with open("INSERTS_FACULDADE_DOMINIOS/PESSOA.sql", "w", encoding="utf-8") as f:
    for i in range(n_enderecos):
        CPF = cpsf_list[i]
        NOME_COMPLETO = f'{random.choice(nome_list)} {random.choice(sobrenome_list)} {random.choice(sobrenome_list)}'
        DATA_NASCIMENTO = random_date(1960, 2000)
        EMAIL = create_email(NOME_COMPLETO)
        ID_ENDERECO = i+1
        # Sem telefone por enquanto
        sql = f'INSERT INTO PESSOA (CPF, NOME_COMPLETO, DATA_NASCIMENTO, EMAIL, ID_ENDERECO) VALUES ({CPF}, "{NOME_COMPLETO}", "{DATA_NASCIMENTO}", "{EMAIL}", {ID_ENDERECO})'
        f.write(sql + ";"+ "\n")

In [32]:
# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR ALUNO
# each aluno is poped from a list of pessoas
# INSERT INTO ALUNO (MATRICULA_ALUNO, NOME_MAE, NOME_PAI, ANO_ENTRADA, SEMESTRE_ENTRADA, QTD_PERIODO_CURSADO, ID_STATUS, CPF, ID_CURSO_GRADUACAO) VALUES (NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL);
n_alunos = 500

ANO_MIN = 2000
ANO_MAX = 2021

with open("INSERTS_FACULDADE_DOMINIOS/ALUNO.sql", "w", encoding="utf-8") as f:
        for i in range(n_alunos):
            NOME_MAE = f'{random.choice(nome_list)} {random.choice(sobrenome_list)} {random.choice(sobrenome_list)}'
            NOME_PAI = f'{random.choice(nome_list)} {random.choice(sobrenome_list)} {random.choice(sobrenome_list)}'
            ANO_ENTRADA = random.randint(ANO_MIN, ANO_MAX)
            SEMESTRE_ENTRADA = random.randint(1, 2)
            QTD_PERIODO_CURSADO = random.randint(1, 10)
            ID_STATUS = random.randint(1, 4)
            CPF = cpsf_list.pop()
            sql = f'INSERT INTO ALUNO (NOME_MAE, NOME_PAI, ANO_ENTRADA, SEMESTRE_ENTRADA, QTD_PERIODO_CURSADO, ID_STATUS, CPF, ID_CURSO_GRADUACAO) VALUES ({NOME_MAE}, {NOME_PAI}, {ANO_ENTRADA}, {SEMESTRE_ENTRADA}, {QTD_PERIODO_CURSADO}, {ID_STATUS}, {CPF}, (SELECT COUNT(*) FROM CURSO_GRADUACAO ORDER BY RAND() LIMIT 1))';
            f.write(sql + ";"+ "\n")

# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR FUNCIONARIO
# each funcionario is poped from a list of pessoas
# INSERT INTO FUNCIONARIO (MATRICULA_FUNCIONARIO, DATA_ADMISSAO, DATA_DEMISSAO, ID_STATUS, ID_DEPARTAMENTO, CPF) VALUES (NULL, NULL, NULL, NULL, NULL, NULL);
n_funcionarios = len(cpsf_list)

with open("INSERTS_FACULDADE_DOMINIOS/FUNCIONARIO.sql", "w", encoding="utf-8") as f:
        for i in range(n_funcionarios):
            MATRICULA_FUNCIONARIO = i+1
            DATA_ADMISSAO = random_date(ANO_MIN, ANO_MAX)
            ID_STATUS = random.randint(1, 4)
            CPF = cpsf_list.pop()
            sql = f'INSERT INTO FUNCIONARIO (MATRICULA_FUNCIONARIO, DATA_ADMISSAO, ID_STATUS, ID_DEPARTAMENTO, CPF) VALUES ({MATRICULA_FUNCIONARIO}, "{DATA_ADMISSAO}", {ID_STATUS}, (SELECT COUNT(*) FROM DEPARTAMENTO ORDER BY RAND() LIMIT 1), {CPF})';
            f.write(sql + ";"+ "\n")
id_funcionario_list = list(range(1, n_funcionarios+1))

# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR PROFESSOR
# each professor is poped from id_funcionario_list
# INSERT INTO PROFESSOR (MATRICULA_PROFESSOR, MATRICULA_FUNCIONARIO, ID_TITULACAO) VALUES (NULL, NULL, NULL);
n_professores = int(n_funcionarios/2)
with open("INSERTS_FACULDADE_DOMINIOS/PROFESSOR.sql", "w", encoding="utf-8") as f:
        for i in range(n_professores):
            MATRICULA_FUNCIONARIO = id_funcionario_list.pop()
            ID_TITULACAO = random.randint(1, 4)
            sql = f'INSERT INTO PROFESSOR (MATRICULA_FUNCIONARIO, ID_TITULACAO) VALUES ({MATRICULA_FUNCIONARIO}, {ID_TITULACAO})';
            f.write(sql + ";"+ "\n")

# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR ADMINISTATIVO
# each professor is poped from id_funcionario_list
# INSERT INTO ADMINISTRATIVO (MATRICULA_ADM, MATRICULA_FUNCIONARIO, ID_SETOR) VALUES (NULL, NULL, NULL);
with open("INSERTS_FACULDADE_DOMINIOS/ADMINISTRATIVO.sql", "w", encoding="utf-8") as f:
        for i in id_funcionario_list:
            MATRICULA_FUNCIONARIO = i
            ID_SETOR = random.randint(1, 4)
            sql = f'INSERT INTO ADMINISTRATIVO (MATRICULA_FUNCIONARIO, ID_SETOR) VALUES ({MATRICULA_FUNCIONARIO}, {ID_SETOR})';
            f.write(sql + ";"+ "\n")

## Gerador de aulas

In [39]:
# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR TURMA AND AULA
# 7 e 8 Juntos

def gerar_turma_aula():
    id_turma = 1
    output = []
    for _ in range(CONST_MAX):
        id_materia = random.randint(1, MATERIA_MAX)
        matricula_prof = random.randint(1, CONST_MAX)
        ano_turma_aula = random.randint(ANO_MIN, ANO_MAX)
        semestre_turma = random.randint(1, SEMESTRE_MAX)
        if (semestre_turma == 1):
            mes_aula = random.randint(1, 6)
        else:
            mes_aula = random.randint(7, 12)
        dia_aula= random.randint(1, 28)
        turno = 1

        output.append(f'INSERT INTO TURMA(ANO_TURMA, SEMESTRE_TURMA, ID_MATERIA, MATRICULA_PROFESSOR) VALUES({ano_turma_aula}, {semestre_turma}, {id_materia}, {matricula_prof});')
        for i in range (1,4):
            output.append(f'INSERT INTO AULA (DATA_AULA, ID_TURMA, ID_TURNO) VALUES("{ano_turma_aula:02d}-{mes_aula:02d}-{dia_aula:02d}", {id_turma}, {turno});')
            turno += 1
        id_turma += 1
    return output

# CRIAR ARQUIVO SQL COM O OUTPUT DA FUNÇÃO ACIMA #7 E #8

with open('TURMA_AND_AULA.SQL', 'w', encoding="utf-8") as f:
  for i in gerar_turma_aula():
    f.write(i + "\n")

In [ ]:
# CREATE TXT FILE WITH ALL INSERTS COMMANDS FOR ALUNO_AULA

#9

def aluno_aula():
    id_aula = 1
    output_aluno_aula = []
    for _ in range(CONST_MAX):
        presenca = random.randint(0, 1)
        for _ in range(20):
            output_aluno_aula.append(f'INSERT INTO ALUNO_AULA_XREF(ID_AULA, MATRICULA_ALUNO, PRESENCA) VALUES({id_aula}, (SELECT MATRICULA_ALUNO FROM INSCRICAO INNER JOIN TURMA ON INSCRICAO.ID_TURMA=TURMA.ID_TURMA INNER JOIN AULA ON TURMA.ID_TURMA=AULA.ID_TURMA WHERE AULA.ID_TURMA=INSCRICAO.ID_TURMA), {presenca});')
            id_aula += 1
    return output_aluno_aula

with open('aluno_aula.SQL', 'w', encoding="utf-8") as f:
  for i in aluno_aula():
    f.write(i + "\n")

# Compilação sql

In [33]:
tabelas_dominios = ['BAIRRO','CEP','CIDADE', 'CURSO_GRADUACAO', 'DEPARTAMENTO', 'DISCIPLINA', 'ESTADO', 'LOGRADOURO', 'SETOR', 'STATUS_ALUNO', 'STATUS_FUNCIONARIO', 'TIPO_AVALIACAO', 'TITULACAO', 'TURNO']

In [34]:
tabelas_pessoas = ['ADMINISTRATIVO', 'ALUNO', 'ENDERECO', 'FUNCIONARIO', 'PESSOA', 'PROFESSOR']

In [36]:
# merge all .sql files in a single .sql file
with open("INSERTS_FACULDADE_DOMINIOS/INSERTS_FACULDADE_PESSOAS.sql", "w", encoding="utf-8") as f:
    for tabela in tabelas_pessoas:
        with open(f"INSERTS_FACULDADE_DOMINIOS/{tabela}.sql", "r", encoding="utf-8") as g:
            f.write(g.read())

  # merge all .sql files in a single .sql file
with open("INSERTS_FACULDADE_DOMINIOS/INSERTS_FACULDADE_DOMINIOS.sql", "w", encoding="utf-8") as f:
    for tabela in tabelas_dominios:
        with open(f"INSERTS_FACULDADE_DOMINIOS/{tabela}.sql", "r", encoding="utf-8") as g:
            f.write(g.read())